/* checkoutItem.css */

.checkout-item-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.image-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-right: 10px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    flex: 1;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    /* Ajustado el ancho para centrar mejor las flechas y el valor */
}

.arrow {
    cursor: pointer;
    margin: auto;
}

.value {
    margin: 0 5px;
    /* Reducido el margen para acercar más el valor */
}

.price {
    width: 60px;
}

.remove-button {
    cursor: pointer;
    color: #ff0000;
}