

/* Media query para pantallas de entre 600px y 900px de ancho */
@media (min-width: 600px) and (max-width: 900px) {
    .card2 {
        width: 85%; /* Ajusta el ancho de la tarjeta al 85% del contenedor */
    }

    .card2 h2 {
        font-size: 1.8rem; /* Ajusta el tamaño del texto del título */
    }

    .card2 .description {
        font-size: 1.1rem; /* Ajusta el tamaño del texto de la descripción */
    }

    .card2 .price {
        font-size: 1.3rem; /* Ajusta el tamaño del texto del precio */
    }
}

p{
    color: black;
}
