/* Estilo adicional para el formulario */
.form-container {
    background-color: #f8f9fa; /* Fondo gris claro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  }
  
  /* Estilo adicional para ajustar el ancho del formulario */
  .custom-form {
    width: 100%;
  }
  