.custom-nav{
    background-color: #40C1BD !important;  
}
.custom-nav a{
    color: white !important;
}
.custom-nav a:hover{
    color: black!important;
}

.custom-login , .custom-cart {
    justify-content: right!important;
}

.custom-justify {
    justify-content: end !important;
}

.text-left{
    color:#40C1BD !important;
    font-weight: 800;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 50px;
}

.custom-card-body{
    background-color: #40C1BD !important;
    color: white !important;
}

.custom-button{
    background-color: white !important;
    color: black !important;
    border-color: transparent !important;
    
}

.custom-button:hover{
    background-color: black !important;
    color: white !important;
    border-color: transparent !important;
}

